h2{
    margin-left: 20px;
}

.dashboard-nav{
    float: left;
}

.dashboard-nav a{
    text-decoration: none;
    color: black;
}

.dashboard-nav li{
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 25px;
    margin-right: 70px;
    padding: 10px;
    padding-right: 80px;
    margin-right: 80px;
    margin-top: 20px;
}

.dashboard-nav li.active {
    background-color: #E5E5E5;
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px;
    margin-right: 80px;
    padding-right: 80px;
    margin-top: 20px;
}

.newrequest-btn {
    font-size: 14px;
    background-color: #1980E5;
    color: white;
    border: none;
    padding: 5px 25px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
    margin-right: 40px;
    margin-top: 10px;
    align-self: flex-end;
}

.requests-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.request-search-container {
    position: relative;
    margin-top: 10px;
}

.request-search-box {
    padding-left: 40px; 
    width: 700px; 
    height: 50px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

.request-search-btn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: #1980E5;
    color: white;
    border: none;
    padding: 8px 12px; 
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
}

.request-search-btn:hover {
    background-color: #0d5cb6;
}