.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.signup-container {
    width: 700px;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
}
  
.signup-container p {
    margin-bottom: 20px;
}

.signup-container h3 {
    margin-top: 300px;
}

.signup-container label {
    text-align: left;
    display: block;
    padding-left: 60px;
    margin-bottom: 10px;
}
  
.signup-container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0.5;
    font-size: 14px;
}
  
#signupButton {
    background-color: #1980E5;
    width: 80%;
    color: white;
    border: none;
    padding: 10px 35px;
    border-radius: 10px;
    cursor: pointer;
}
  
#signupButton:hover {
    background-color: #1257a8;
}
  
.not_a p {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.eye-icon {
    color: black !important;
  }
  
.password-input{
    position: relative;
}
  
.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.confirm-password-input{
    position: relative;
}